.custom-header {
  font-size: 24px;
  font-weight: bold;
  background-color: #006685;
  padding: 10px;
  margin-bottom: 20px;
}

.card {
  border-radius: 1rem;
  margin-bottom: 20px;
  background-color: #464e55;
  border: 1px solid #464e55;
  padding: 10px;
}

.table {
  background: #464e55;
  --bs-table-bg: #464e55;
}